body {
align-items: center;
min-height: 100vh;
}


.container {
text-align: center;
}


h1 {
font-size: 3rem;
margin-bottom: 0.5rem;
color: #f0e6ff;
}


.subtitle {
font-size: 1rem;
margin-bottom: 1.5rem;
color: #bbb;
}


button {
background: #3a005a;
color: white;
border: none;
padding: 12px 24px;
border-radius: 10px;
cursor: pointer;
margin: 10px;
font-size: 1rem;
transition: all 0.3s ease;
}


button:hover {
background: #5e0096;
}


#wheelCanvas {
margin-top: 20px;
border: 6px solid #fff;
border-radius: 50%;
box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
}


#resultText {
font-size: 1.3rem;
margin-top: 20px;
}
